body {
    background-color: #E5EEF3;
    color: #0C2030;
    max-width: 70%;
    margin: auto;
    margin-top: 3rem;
    font-family: 'Cousine', monospace;
    font-size: 2rem;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Space Grotesk', sans-serif;
}

a {
    color: #BF2E4E;
    text-decoration-style: dashed;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    max-width: 50rem;
}

#top-links ul {
    overflow: auto;
    list-style: "*";
}

#top-links ul {
    margin: 0;
    padding: 0;
}

#top-links ul > li {
    list-style-type: none;
    float: left;
    margin-right: 1rem;
}

#top-links ul > li::before {
    content: '▪';
    font-size: 1.5rem;
}

#top-links ul > li:first-child::before {
    content: none;
}
